<!-- TODO 
- [] 右に+アイコン、開いてるときは-アイコンに変更
-->
<section class="faq">
  <div class="headline">
    <h1 class="title">FAQ</h1>
    <p class="title-sub">よくある質問</p>
  </div>
  <div class="container">
    <div class="faq__body">
      <amp-accordion id="my-accordion" disable-session-states expand-single-section animate>
        <section class="list-faq" id="section1">
          <h2 class="d-flex"><span>Q</span> パスワードを確認する方法を教えてください。</h2>
          <p>古いスマートフォン、パソコン、ブラウザでは、一部のウェブサービスがご利用できなくなります。</p>
        </section>
        <section class="list-faq" id="section2">
          <h2 class="d-flex"><span>Q</span> 初期化（リセット）の方法を教えてください。</h2>
          <div>ホーム画面から「設定」→「一般」→「リセット」→「すべてのコンテンツと設定を消去」から初期化できます。</div>
        </section>
        <section class="list-faq" id="section3">
          <h2 class="d-flex"><span>Q</span> 前月分の料金が確定するのはいつですか？</h2>
          <div>お客さまの締め日から10日後が料金確定日の目安です。</div>
        </section>
      </amp-accordion>
    </div>
    {% if page.title == 'top' %}
    <div class="faq__button d-flex justify-content-center">
      <a class="btn btn__outline-gray" href="#">More</a>
    </div>
    {% endif %}
  </div>
</section>