<section class="service">
  <div class="headline">
    <h1 class="title">Service</h1>
    <p class="title-sub">対応業務</p>
  </div>
  <div class="container">
    <div class="service__body">
      <div class="row">
        <div class="col-lg-6">
          <div class="service__list list-service">
            <div class="list-service__image">{% include icons/service-1.html %}</div>
            <div class="list-service__body">
              <p class="title">Web Design</p>
              <p class="text">ドメイン領域をしっかり理解したデザイナーが御社のニーズをヒヤリングした上で、価値あるデザインを提供いたします。</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service__list list-service">
            <div class="list-service__image">{% include icons/service-2.html %}</div>
            <div class="list-service__body">
              <p class="title">Graphic Design</p>
              <p class="text">ドメイン領域をしっかり理解したデザイナーが御社のニーズをヒヤリングした上で、価値あるデザインを提供いたします。</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service__list list-service">
            <div class="list-service__image">{% include icons/service-3.html %}</div>
            <div class="list-service__body">
              <p class="title">UI/UX Design</p>
              <p class="text">ドメイン領域をしっかり理解したデザイナーが御社のニーズをヒヤリングした上で、価値あるデザインを提供いたします。</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service__list list-service">
            <div class="list-service__image">{% include icons/service-4.html %}</div>
            <div class="list-service__body">
              <p class="title">Responsive Design</p>
              <p class="text">ドメイン領域をしっかり理解したデザイナーが御社のニーズをヒヤリングした上で、価値あるデザインを提供いたします。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>