.card-work {
  padding: 15px;
  border: 1px solid $color_border;

  &__image {}
  &__body {
    padding: 15px 0;
  }
  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding: 0 5px;
      &:first-child {
        padding: 0;
      }
      font-size: 14px;
      &.category {
        padding: 3px 9px;
        border-radius: 20px;
        color: #fff;
        font-size: 12px;
        background-color: $color_key;
      }
    }
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 0;
    color: $color_title;
    font-weight: bold;
  }
  &__text {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
  }
}

.card-client {
  padding: 20px;
  border: 1px solid $color_border;
  border-radius: 8px;
  background-color: #fff;
  &__voice {
    margin: 0;
  }
  &__author {
    display: flex;
    margin-top: 20px;
    .author {
      flex-shrink: 0;
      margin-right: 15px;
    }
    img {
      border-radius: 50%;
    }
    p {
      line-height: 1;
    }
    .meta {
      margin: 0;
      color: $color_title;
      font-size: 16px;
      font-weight: bold;
    }
    .name {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}